@model IEnumerable<Authentication2.VIewModels.CreateRequestViewModel>
@{
    ViewData["Title"] = "AcceptedRequests";
}
<h1>Accepted Deliveries</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                PickUp Address
            </th>
            <th>
                DropOff Address
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Item
                </td>
                <td>
                    @item.PickupStreetNumber @item.PickupStreetName, @item.PickupCity, @item.PickupState @item.PickupZipcode
                </td>
                <td>
                    @item.DropoffStreetNumber @item.DropoffStreetName, @item.DropoffCity, @item.DropoffState @item.DropoffZipcode
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @if (item.Status != "Delivered")
                    {
                        <a asp-action="UpdateStatus" asp-route-id="@item.Id">Update Status</a>
                    }
                    <a asp-area="User" asp-action="Detail" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>