@model IEnumerable<Authentication2.VIewModels.CreateRequestViewModel>

@{
    ViewData["Title"] = "Open";
}

<h1>Open Requests</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                PickUp Address
            </th>
            <th>
                DropOff Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Item
            </td>
            <td>
                @item.PickupStreetNumber @item.PickupStreetName, @item.PickupCity, @item.PickupState @item.PickupZipcode
            </td>
            <td>
                @item.DropoffStreetNumber @item.DropoffStreetName, @item.DropoffCity, @item.DropoffState @item.DropoffZipcode
            </td>
            <td>
                <a asp-action="Pickup" asp-route-id="@item.Id">Accept Request</a>
            </td>
        </tr>
        }
    </tbody>
</table>
