<!-- <meta http-equiv="Refresh" content="3;url=../List" />-->

<h3>Request successfully Created.<br /></h3>
<h5>Details</h5>
<hr />
<table>

    <tr>
        <td width="250px">Item to be Delivered:</td>
        <td>@ViewBag.request.Item</td>
    </tr>

    <tr>
        <td><br /></td>
    </tr>

    <tr>
        <td valign="top">Pickup Address:</td>
        <td>
            @ViewBag.request.PickupStreetNumber @ViewBag.request.PickupStreetName <br />
            @ViewBag.request.PickupCity, @ViewBag.request.PickupState @ViewBag.request.PickupZipcode
        </td>
    </tr>

    <tr>
        <td valign="top">Instruction for Pickup:</td>
        <td>@ViewBag.request.PickupInstructions</td>
    </tr>

    <tr>
        <td><br /></td>
    </tr>

    <tr>
        <td valign="top">Dropoff Address:</td>
        <td>
            @ViewBag.request.DropoffStreetNumber @ViewBag.request.DropoffStreetName <br />
            @ViewBag.request.DropoffCity, @ViewBag.request.DropoffState @ViewBag.request.DropoffZipcode
        </td>
    </tr>

    <tr>
        <td valign="top">Instructions at dropoff:</td>
        <td>@ViewBag.request.DropoffInstructions</td>
    </tr>

    <tr>
        <td width="250px" valign="top">
            Receipt/Cart Image
        </td>
        <td>
            <!--<img src="~/uploads/@ViewData["ImagePath"]" width="50%" />-->
        </td>
    </tr>
</table>
<form method="post" action='@Url.Action("List","Request")'>
    <input type="hidden" name="id" value="@ViewBag.request.Id">
    <a asp-action="Update" class="btn btn-lg btn-success" asp-route-id="@ViewBag.request.Id">Edit</a>
    <button class="btn btn-success text-uppercase" type="submit">Confirm</button> 
</form>