@model CreateRequestViewModel

<html lang="en" class="gr__getbootstrap_com">
<head>
    <style>
        :root {
            --input-padding-x: 1.5rem;
            --input-padding-y: .75rem;
        }


        .card-signin {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }

            .card-signin .card-title {
                margin-bottom: 2rem;
                font-weight: 300;
                font-size: 1.5rem;
            }

            .card-signin .card-body {
                padding: 2rem;
            }

        .form-signin {
            width: 100%;
        }

            .form-signin .btn {
                font-size: 80%;
                border-radius: 5rem;
                letter-spacing: .1rem;
                font-weight: bold;
                padding: 1rem;
                transition: all 0.2s;
            }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

            .form-label-group input {
                height: 2.5rem;
                border-radius: 2rem;
            }

            .form-label-group > input,
            .form-label-group > label,
            .form-label-group > textarea{
                padding: var(--input-padding-y) var(--input-padding-x);
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                /* Override default `<label>` margin */
                line-height: 0.75;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent;
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-moz-placeholder {
                color: transparent;
            }

            .form-label-group input::placeholder {
                color: transparent;
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
                padding-bottom: calc(var(--input-padding-y) / 3);
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y) / 3);
                    padding-bottom: calc(var(--input-padding-y) / 3);
                    font-size: 12px;
                    color: #777;
                }

        select {
            width: 100%;
            height: 40px;
            border: 0px;
            border-radius: 10px;
            outline: none;
            box-shadow: 1rem 0.5rem 0 0 rgba(0, 0, 0, 0.1);
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card card-signin my-0">
                    <div class="card-body">
                        <div class="card-title text-center"><h2>Send Message</h2></div>
                        <form id="email" action="@Url.Action("Send", "Request")" enctype="multipart/form-data">
                            @Html.HiddenFor(m => m.DriverId)
                            <table>
                                <tr>
                                    <td class="form-label-group">
                                        <input asp-for="@ViewData["subject"]" class="form-control" name="subject" placeholder="Subject" />
                                        <label asp-for="@ViewData["subject"]">Subject</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label-group">
                                        <textarea asp-for="@ViewData["message"]" class="form-control" rows="10" cols="75" name="message" placeholder="Enter Message Here..."></textarea>
                                    </td>
                                </tr>
                            </table>

                            <table>
                                <tr>
                                    <td width="200px">
                                        <button class="btn btn-primary btn-large btn-block" href="##" onClick="history.go(-1); return false;">Cancel</button>
                                    </td>
                                    <td width="200px">
                                        <button class="btn btn btn-success btn-block text-uppercase" type="submit">Send</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

