@model IEnumerable<Authentication2.VIewModels.CreateRequestViewModel>

@{
    ViewData["Title"] = "List";
}

<h1 class="text-center">My Requests</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Pickup Address
            </th>
            <th>
                Drop Off Address
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Item
                </td>
                <td>
                    @item.PickupStreetNumber @item.PickupStreetName, @item.PickupCity, @item.PickupState @item.PickupZipcode
                </td>
                <td>
                    @item.DropoffStreetNumber @item.DropoffStreetName, @item.DropoffCity, @item.DropoffState @item.DropoffZipcode
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Id">Details</a>
                    @if (item.Status == "Awaiting Driver")
                    {
                        <p style="display:inline">
                            |
                            <a asp-action="Update" asp-route-id="@item.Id">Edit</a>
                            |
                            <a asp-action="ConfirmDelete" asp-route-id="@item.Id">Delete</a>
                        </p>
                    }
                    else if (item.Status != "Delivered")
                    {
                        <p style="display:inline">
                            |
                            <a asp-action="ContactDriver" asp-route-id="@item.Id">Contact Driver</a>
                        </p>
                    }
                    else { }
                </td>
            </tr>
        }
    </tbody>
</table>
