@model CreateRequestViewModel

<h1>Update Request</h1>

<form method="post" action='@Url.Action("Update", "Request")'>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.DriverId)
    @Html.HiddenFor(m => m.Status)
    <table>
        <tr>
            <th><h3>Pickup</h3></th>
            <td>
                @Html.DropDownList("pickUpAddressList", null, new { @id = "pickUpAddressList", onchange = "Pickup()" })
            </td>
        </tr>
        <tr>
            <td>Street Number</td>
            <td colspan="2">Street Name</td>
        </tr>
        <tr>
            <td>
                <input asp-for="PickupStreetNumber" class="form-control" />
                <span asp-validation-for="PickupStreetNumber" class="text-danger"></span>
            </td>

            <td colspan="2">
                <input asp-for="PickupStreetName" class="form-control" />
                <span asp-validation-for="PickupStreetName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>State</td>
            <td>Zipcode</td>
        </tr>
        <tr>
            <td>
                <input asp-for="PickupCity" class="form-control" />
                <span asp-validation-for="PickupCity" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="PickupState" class="form-control" />
                <span asp-validation-for="PickupState" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="PickupZipcode" class="form-control"  />
                <span asp-validation-for="PickupZipcode" class="text-danger"></span>

            </td>
        </tr>
        <tr>
            <td>Instructions</td>
        </tr>
        <tr>
            <td colspan="3">
                <input asp-for="PickupInstructions" class="form-control" />
                <span asp-validation-for="PickupInstructions" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th><h3>Dropoff</h3></th>
            <td>
                @Html.DropDownList("dropOffAddressList", null, new { @id = "dropOffAddressList", onchange = "MyFunction()" })
            </td>
        </tr>
        <tr>
            <td>Street Number</td>
            <td colspan="2">Street Name</td>
        </tr>
        <tr>
            <td>
                <input asp-for="DropoffStreetNumber" class="form-control" />
                <span asp-validation-for="DropoffStreetNumber" class="text-danger"></span>
            </td>
            <td colspan="2">
                <input asp-for="DropoffStreetName" class="form-control" />
                <span asp-validation-for="DropoffStreetName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>State</td>
            <td>Zipcode</td>
        </tr>
        <tr>
            <td>
                <input asp-for="DropoffCity" class="form-control" />
                <span asp-validation-for="DropoffCity" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="DropoffState" class="form-control" />
                <span asp-validation-for="DropoffState" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="DropoffZipcode" class="form-control" />
                <span asp-validation-for="DropoffZipcode" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>Instructions</td>
        </tr>
        <tr>
            <td colspan="3">
                <input asp-for="DropoffInstructions" class="form-control" />
                <span asp-validation-for="DropoffInstructions" class="text-danger"></span>
            </td>
        </tr>
        <tr><th><h3>Item</h3></th></tr>
        <tr>
            <td>Item</td>
        </tr>
        <tr>
            <td colspan="3">
                <input asp-for="Item" class="form-control" />
                <span asp-validation-for="Item" class="text-danger"></span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Update">
    <div asp-validation-summary="All" class="text-danger"></div>
</form>

<script type="text/javascript">
    function MyFunction() {
        //var addresses = ViewData["AddressArray"];
        var e = document.getElementById("dropOffAddressList");
        //var strUser = parseInt(e.options[e.selectedIndex].value);

        document.getElementById("DropoffStreetNumber").value = e.options[e.selectedIndex].value;
        document.getElementById("DropoffStreetName").value = e.options[e.selectedIndex].text;
        /*
        for(var address in addresses){
            if(address.Id == strUser)
            {
                document.getElementById("PickupStreetNumber").value = address.StreetNumber;
                document.getElementById("PickupStreetName").value = address.StreetName;
                document.getElementById("PickupCity").value = address.City;
                document.getElementById("PickupState").value = address.State;
                document.getElementById("PickupZipcode").value = address.ZipCode;
            }
        }
        */
    }

    function Pickup() {
        //var addresses = ViewData["AddressArray"];
        var e = document.getElementById("pickUpAddressList");
        //var strUser = parseInt(e.options[e.selectedIndex].value);

        document.getElementById("PickupStreetNumber").value = e.options[e.selectedIndex].value;
        document.getElementById("PickupStreetName").value = e.options[e.selectedIndex].text;
        /*
        for(var address in addresses){
            if(address.Id == strUser)
            {
                document.getElementById("PickupStreetNumber").value = address.StreetNumber;
                document.getElementById("PickupStreetName").value = address.StreetName;
                document.getElementById("PickupCity").value = address.City;
                document.getElementById("PickupState").value = address.State;
                document.getElementById("PickupZipcode").value = address.ZipCode;
            }
        }
        */
    }
</script>